<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ caption }}" />
    <meta property="og:url" />
    <meta property="og:site_name" content="RTÉ Radio" />
    <meta property="article:author" content="https://www.facebook.com/rteradio1/" />
    <meta property="article:tag" content="{{ title }}" />
    <meta property="article:section" content="{{ category }}" />
    <meta property="og:image" content="https://img.rasset.ie/{{ picture }}-1200.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    {{#video}}
    <meta name="twitter:card" content="player" />
    <meta name="twitter:player" />
    <meta name="twitter:player:width" content="480" />
    <meta name="twitter:player:height" content="480" />
    {{/video}}
    {{^video}}
    <meta name="twitter:card" content="summary_large_image" />
    {{/video}}
    <meta name="twitter:description" content="{{ caption }}" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:image" content="https://img.rasset.ie/{{ picture }}-1200.jpg" />
    <meta name="twitter:creator" content="@rteradio1" />
    <link
      rel="stylesheet"
      id="flowplayer_skin-css"
      href="https://releases.flowplayer.org/7.2.4/skin/skin.css?ver=4.9.9"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="flowplayer-css"
      href="https://releases.flowplayer.org/audio/flowplayer.audio.css?ver=4.9.9"
      type="text/css"
      media="all"
    />
    <script type="text/javascript" src="https://releases.flowplayer.org/7.2.4/flowplayer.min.js"></script>
    <script
      type="text/javascript"
      src="https://releases.flowplayer.org/hlsjs/flowplayer.hlsjs.light.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://releases.flowplayer.org/audio/flowplayer.audio.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script>
      setTimeout(function() {
        location.replace("https://www.rte.ie/radio/radioplayer/html5/#/{{station}}/{{id}}");
        //console.log("https://www.rte.ie/radio/radioplayer/html5/#/{{station}}/{{id}}")
      }, 500);
      (function($) {
        "use strict";
        window.onload = function() {
          let loc = document.getElementById("red");
          let id = loc.getAttribute("data-url");
          let audio = loc.getAttribute("audio");
          let picture = loc.getAttribute("picture");
          $("#rte").css("background-image", "url('" + "https://img.rasset.ie/" + picture + "-1200.jpg')");
          flowplayer("#rte", {
            ratio: 9 / 16,
            splash: true,
            coverImage: picture,
            playlist: [
              {
                audio: true,
                sources: [
                  {
                    type: "audio/mpeg",
                    src: audio
                  }
                ]
              }
            ]
          });
        };
      })(jQuery);
    </script>
    <style type="text/css">
      video {
        width: 100%;
        max-width: 600px;
        height: auto;
      }
      body{
        margin:0; 
        background:black; 
        color:white; 
      }
      a{
        color:white;
      }
    </style>
  </head>

  <body>
    <h1>{{title}}</h1>
    <a href ="https://www.rte.ie/radio/radioplayer/html5/#/{{station}}/{{id}}">You are being redirected to {{ station }} or you may click here</a> </body>
  </body>
</html>
